/* demo.scss */

// Demo Elements
// ------------------------------
// Styling for elements that purely exist for the demp/example boxes
//

.demo-box {
  background-color: $branding-blue;
  width: $demo-box-size;
  height: $demo-box-size;
  border: 1px solid darken($branding-blue, 10%);
}


// Overrides
// ------------------------------
// Some widgets, due to absolute positioning, etc. need extra CSS to render
// properly within the ui-example fields.
// This section is only for adding overrides to components, and will not be part
// of the outputted library css.

// Alerts
// Alerts are only meant to be rendered one at a time on the top of the page,
// so we need to alter their positioning so that they can all be visible in the
// example boxes.
.ui-example .alert {
  position: relative;
  top: 0;

  & + .alert {
    margin-top: $spacing-default;
  }
}
