<p>This README outlines the details of collaborating on this Ember application.</p>
<p>(This is old)</p>
<h2>Prerequisites</h2>

<p>You will need the following things properly installed on your computer.</p>
<ul class="default-list">
  <li><a href="http://git-scm.com/" target="_blank" rel="noopener">Git</a></li>
  <li><a href="http://nodejs.org/" target="_blank" rel="noopener">Node.js</a> (with NPM)</li>
  <li><a href="http://bower.io/" target="_blank" rel="noopener">Bower</a></li>
  <li><a href="http://www.ember-cli.com/" target="_blank" rel="noopener">Ember CLI</a></li>
  <li><a href="http://phantomjs.org/" target="_blank" rel="noopener">PhantomJS</a></li>
</ul>
<hr>

<h2>Installation</h2>

<code class="command-line">git clone {repository-url}</code>
<p>change into the new directory</p>
<code class="command-line">
  npm install<br>
  bower install
</code>
<hr>

<h2>Generate CSS data</h2>
<p>
  Every time you make a change to CSS documentation, you need to run this task to
  regenerate the data for the app:
</p>
<code class="command-line">grunt documentation</code>
<p>To view more details in the terminal while this task is processing:</p>
<code class="command-line">grunt --verbose documentation</code>
<hr>

<h2>Running / Development</h2>

<code class="command-line">ember server</code>
<p>Visit your app at <a href="http://localhost:4200" target="_blank" rel="noopener">http://localhost:4200</a>.</p>
<hr>

<h2>Code Generators</h2>

<p>Make use of the many generators for code, try</p>
<code class="command-line">ember help generate</code>
<p>for more details</p>
<hr>

<h2>Running Tests</h2>

<code class="command-line">
  ember test<br>
  ember test --server
</code>
<hr>

<h2>Building</h2>

<code class="command-line">
  ember build<br>
  ember build --environment production
</code>
<hr>

<h2>Deploying</h2>

<p>TBD</p>
<hr>

<h2>Further Reading / Useful Links</h2>

<ul class="default-list">
  <li><a href="http://emberjs.com/" target="_blank" rel="noopener">ember.js</a></li>
  <li><a href="http://www.ember-cli.com/" target="_blank" rel="noopener">ember-cli</a></li>
</ul>

<p>Development Browser Extensions</p>
<ul class="default-list">
  <li>
    <a
      href="https://chrome.google.com/webstore/detail/ember-inspector/bmdblncegkenkacieihfhpjfppoconhi"
      target="_blank"
      rel="noopener"
    >
      ember inspector for chrome
    </a>
  </li>
  <li>
    <a
      href="https://addons.mozilla.org/en-US/firefox/addon/ember-inspector/"
      target="_blank"
      rel="noopener"
    >
      ember inspector for firefox
    </a>
  </li>
</ul>

{{outlet}}